@font-face {
  font-family: "Consolas";
  src: url('fonts/Consolas.ttf') format('truetype');
}

@font-face {
  font-family: "Dosis";
  src: url('fonts/Dosis.ttf') format('truetype');
}

body{
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  max-width: 60ch;
  background-image: url('img/esag.png');
  background-size: 25px 25px;
}

#titolo-1{
  text-align: center;
  font-family: "Consolas";
  color: greenyellow;
  text-shadow: 0 0 12px green;
}

@keyframes appear {
  from {
    width: 0px;
  }
  to {width: 150px;}
}

@keyframes hover {
  from {
    padding: 4px 6px;
  }
  to {
    padding: 10px;
    font-size: 30px;
  }
}

#logo{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 150px;
  animation-name: appear; 
  animation-duration: 3s;
}

.scritte{
  text-align: center;
  font-family: "Dosis";
}

nav a{
  display: inline-block;
  padding: 4px 4px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.links:hover{
  padding: 10px;
  font-size: 17px;
}

.links {
  font-family: "Consolas";
  color: greenyellow;
  text-shadow: 0 0 12px green;
  transition: font-size 500ms, padding 500ms;
}

#donot {
  font-family: "Consolas";
  color: greenyellow;
  text-shadow: 0 0 12px green;
  text-decoration: none;
}

.icons{
  max-width: 1.4em;
  margin-right: 10px;
}

footer{
  margin-top:30px;
  font-size: .85em;
  font-family: "Dosis";
  text-align: left;
  border-bottom: 50px;
}